@model BusinessPlatform.Web.Models.Pages.ViewMetadataModel

@using Resources = BusinessPlatform.Resources.Pages.NotFound

@{
    if (Response.StatusCode == 200)
    {
        Response.StatusCode = 404;
        Response.TrySkipIisCustomErrors = true;
    }

    Model.PageTitle = Resources.META_PAGETITLE;
    Model.MetaDescription = Resources.META_DESCRIPTION;
    Model.MetaKeywords = Resources.META_KEYWORDS;

    Model.AdditionalMetaTags["robots"] = "noindex, nofollow";
    Model.MetaCanonical = Html.LocalizeUrl("/").ToString();
}

<section class="section">
    <div class="row">
        <div class="column">
            <h1>@Resources.Heading</h1>
            <p>@Resources.Content1</p>
            <p>@Resources.Content2</p>
            <a href="@Html.LocalizeUrl("/")" class="button">@Resources.BackToHome_CTA</a>
        </div>
    </div>
</section>