@model BusinessPlatform.Web.Models.Pages.ViewMetadataModel
@using Resources = BusinessPlatform.Resources.Pages.Index

@{
    Model.PageTitle = Resources.META_PAGETITLE;
    Model.MetaDescription = Resources.META_DESCRIPTION;
    Model.MetaKeywords = Resources.META_KEYWORDS;
}

<section class="section section-palette02 section-gradient section-size6 hero">
    <div class="row">
        <div class="column medium-6">
            <div class="row column">
                <h1 class="text-super">@Resources.Hero_Heading</h1>
            </div>
            <div class="row row-size4 column">
                @Html.Raw(Resources.Hero_Content_1)
            </div>
        </div>
        <div class="column medium-5">
            <img src="@CdnHelper.GetCdnUrl("/images/pages/innovate-faster2.png")" alt="" />
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column medium-8 medium-centered text-center">
            <h2>@Resources.PowerUpUsers_Heading</h2>
            @Html.Raw(Resources.PowerUpUsers_Content)
        </div>
    </div>
    <div class="row row-size2 column">
        <img src="@CdnHelper.GetCdnUrl("/images/pages/devices_power.png")" alt="" />
    </div>
    <div class="row">
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="powerup-heading">
                <h4>@Resources.PowerUpUsers_Add_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="powerup-content">
                @Html.Raw(Resources.PowerUpUsers_Add_Content)
            </div>
            <div class="row row-size3 column">
                <a href="https://powerbi.microsoft.com/" class="arrowLink">@Resources.PowerUpUsers_Add_Cta</a>
            </div>
        </div>
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="powerup-heading">
                <h4>@Resources.PowerUpUsers_Build_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="powerup-content">
                @Html.Raw(Resources.PowerUpUsers_Build_Content)
            </div>
            <div class="row row-size3 column">
                <a href="https://powerapps.microsoft.com/" class="arrowLink">@Resources.PowerUpUsers_Build_Cta</a>
            </div>
        </div>
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="powerup-heading">
                <h4>@Resources.PowerUpUsers_Automate_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="powerup-content">
                @Html.Raw(Resources.PowerUpUsers_Automate_Content)
            </div>
            <div class="row row-size3 column">
                <a href="https://flow.microsoft.com/" class="arrowLink">@Resources.PowerUpUsers_Automate_Cta</a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column medium-9 medium-centered text-center">
            <h2>@Resources.SeamlesslyGrow_Heading</h2>
            @Html.Raw(Resources.SeamlesslyGrow_Content)
        </div>
    </div>
    <div class="row row-size2 column">
        <img src="@CdnHelper.GetCdnUrl("/images/pages/devices_pro.png")" alt="" />
    </div>
    <div class="row">
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="grow-heading">
                <h4>@Resources.SeamlesslyGrow_Unlock_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="grow-content">
                @Html.Raw(Resources.SeamlesslyGrow_Unlock_Content)
            </div>
            <div class="row row-size3 column">
                <ul class="linkList">
                    <li><a href="https://www.microsoft.com/sql-bi" class="arrowLink">@Resources.SeamlesslyGrow_Unlock_SqlBi</a></li>
                    <li><a href="https://azure.microsoft.com/documentation/scenarios/data-analytics/" class="arrowLink">@Resources.SeamlesslyGrow_Unlock_Cta1</a></li>
                    <li><a href="https://azure.microsoft.com/documentation/scenarios/internet-of-things/" class="arrowLink">@Resources.SeamlesslyGrow_Unlock_Cta2</a></li>
                </ul>
            </div>
        </div>
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="grow-heading">
                <h4>@Resources.SeamlesslyGrow_Build_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="grow-content">
                @Html.Raw(Resources.SeamlesslyGrow_Build_Content)
            </div>
            <div class="row row-size3 column">
                <ul class="linkList">
                    <li><a href="https://azure.microsoft.com/services/app-service/" class="arrowLink">@Resources.SeamlesslyGrow_Build_Cta1</a></li>
                    <li><a href="https://azure.microsoft.com/services/service-fabric/" class="arrowLink">@Resources.SeamlesslyGrow_Build_Cta2</a></li>
                    <li><a href="https://azure.microsoft.com/services/functions/" class="arrowLink">@Resources.SeamlesslyGrow_Build_Cta3</a></li>
                </ul>
            </div>
        </div>
        <div class="column medium-4">
            <div class="row column sd-equalize" data-set="grow-heading">
                <h4>@Resources.SeamlesslyGrow_Evolve_Heading</h4>
            </div>
            <div class="row row-size3 column sd-equalize" data-set="grow-content">
                @Html.Raw(Resources.SeamlesslyGrow_Evolve_Content)
            </div>
            <div class="row row-size3 column">
                <ul class="linkList">
                    <li><a href="https://azure.microsoft.com/services/app-service/logic/" class="arrowLink">@Resources.SeamlesslyGrow_Evolve_Cta1</a></li>
                    <li><a href="https://azure.microsoft.com/services/api-management/" class="arrowLink">@Resources.SeamlesslyGrow_Evolve_Cta2</a></li>
                    <li><a href="https://azure.microsoft.com/services/biztalk-services/" class="arrowLink">@Resources.SeamlesslyGrow_Evolve_Cta3</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section section-palette02 section-gradient section-padding-bottom-size0">
    <div class="row">
        <div class="column medium-8 medium-centered text-center">
            <h2>@Resources.KeepItConnected_Heading</h2>
            @Html.Raw(Resources.KeepItConnected_Content)
        </div>
    </div>
    <div class="row row-size0 column">
        <img src="@CdnHelper.GetCdnUrl("/images/pages/devices_connected.png")" alt="" />
    </div>
</section>

<section class="section section-palette02 section-gradient">
    <div class="row">
        <div class="column medium-6">
            <div class="row column sd-equalize" data-set="connected-image">
                <img src="@CdnHelper.GetCdnUrl("/images/pages/build-on-common-framework.png")" alt="" />
            </div>
            <div class="row row-size3 column sd-equalize" data-set="connected-heading">
                <h4>@Resources.KeepItConnected_Build_Heading</h4>
            </div>
            <div class="row row-size3 column">
                @Html.Raw(Resources.KeepItConnected_Build_Content)
            </div>
        </div>
        <div class="column medium-6">
            <div class="row column sd-equalize" data-set="connected-image">
                <img src="@CdnHelper.GetCdnUrl("/images/pages/get-more-frmo-systems.png")" alt="" />
            </div>
            <div class="row row-size3 column sd-equalize" data-set="connected-heading">
                <h4>@Resources.KeepItConnected_Get_Heading</h4>
            </div>
            <div class="row row-size3 column">
                @Html.Raw(Resources.KeepItConnected_Get_Content)
            </div>
        </div>
    </div>
</section>

<section class="section text-center">
    <div class="row">
        <div class="column medium-8 medium-centered">
            <h2>@Resources.ReachYourAudience_Heading</h2>
            @Html.Raw(Resources.ReachYourAudience_Content)
        </div>
    </div>
    <div class="row row-size1 column">
        <img src="@CdnHelper.GetCdnUrl("/images/pages/devices_appSource.png")" alt="" />
    </div>
    <div class="row column">
        <a href="https://appsource.microsoft.com" class="button">@Resources.ReachYourAudience_Cta</a>
    </div>
</section>
