<section class="section">
    <div class="row">
        <div class="column">
            <h1>Carousels</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Carousel Base</h3>
            <code>.owl-carousel-base</code>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel-base">
            <div>
                <div class="column medium-5">
                    <img alt="" src="/pictures/pages/publishtoweb/jj-food-service_screenshot.png" />
                </div>
                <div class="column medium-6 medium-offset-1">
                    <div class="row">
                        <div class="column medium-4">
                            <img alt="" src="/pictures/pages/publishtoweb/jj-food-service_logo.png" />
                        </div>
                    </div>
                    <div class="row row-size2">
                        <div class="column">
                            <h3>JJFoodService_Heading</h3>
                            <p>JJFoodService_Copy</p>
                            <a class="button" href="@Html.LocalizeUrl("go:723967")">PublishInAction_Cta1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="column medium-5">
                    <img alt="" src="/pictures/pages/publishtoweb/eg-pediatric-aids-foundation_screenshot.png" />
                </div>
                <div class="column medium-6 medium-offset-1">
                    <div class="row">
                        <div class="column medium-4">
                            <img alt="" src="/pictures/pages/publishtoweb/eg-pediatric-aids-foundation_logo.png" />
                        </div>
                    </div>
                    <div class="row row-size2">
                        <div class="column">
                            <h3>GlaserPediatric_Heading</h3>
                            <p>GlaserPediatric_Copy</p>
                            <a class="button" href="@Html.LocalizeUrl("go:723970")">PublishInAction_Cta1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="column medium-5">
                    <img alt="" src="/pictures/pages/publishtoweb/civic-innovation-project_screenshot.png" />
                </div>
                <div class="column medium-6 medium-offset-1">
                    <div class="row">
                        <div class="column medium-4">
                            <img alt="" src="/pictures/pages/publishtoweb/civic-innovation-project_logo.png" />
                        </div>
                    </div>
                    <div class="row row-size2">
                        <div class="column">
                            <h3>CivicInnovationProject_Heading</h3>
                            <p>CivicInnovationProject_Copy</p>
                            <a class="button" href="http://aka.ms/adivuc">PublishInAction_Cta1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Carousel Wide</h3>
            <code>.owl-carousel-wide</code>
        </div>
    </div>
    <div class="row"></div>
    <div class="owl-carousel-wide">
        <div>
            <img alt="" src="/pictures/pages/publishtoweb/jj-food-service_screenshot.png" />
        </div>
        <div>
            <img alt="" src="/pictures/pages/publishtoweb/eg-pediatric-aids-foundation_screenshot.png" />
        </div>
        <div>
            <img alt="" src="/pictures/pages/publishtoweb/civic-innovation-project_screenshot.png" />
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Carousel Narrow</h3>
            <code>.owl-carousel-narrow</code>
        </div>
    </div>
    <div class="row">
        <div class="column medium-8 medium-centered shadow">
            <div class="carousel-header">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="owl-carousel-narrow">
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-line-chart.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-data-dot-chart.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-bubble-chart.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-scatter-hexbin.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-synoptic-panel.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-donut-chart.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-bar-chart.png")" /></div>
                <div class="text-center"><img alt="" src="@CdnHelper.GetCdnUrl("/pictures/pages/custom-visuals/visual-gauge.png")" /></div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Carousel Dots</h3>
            <code>.owl-carousel-dots</code>
        </div>
    </div>
    <div class="row">
        <div class="column medium-6 text-center">
            <div class="owl-carousel-dots">
                <div>
                    <h3>Twilio</h3>
                    <p>Track your calls and messages, monitor your most active phone numbers, and see your progress week to week. Share your dashboard to keep everyone on the same page.</p>
                    <img src="/pictures/shared/partners/twilio.png" alt="Twilio">
                    <div>
                        <a href="https://app.powerbi.com/getdata/services/twilio" class="button">Try it Now</a>
                        <a href="/en-us/integrations/twilio/" class="button">Learn more</a>
                    </div>
                </div>
                <div>
                    <h3>QuickBooks Online</h3>
                    <p>See your cash flow, profitability, customers, and vendors all in one place.  Power BI automatically generates customizable, mobile-ready dashboards and reports for you.</p>
                    <img src="/pictures/shared/partners/quickbooks-online.png" alt="QuickBooks Online">
                    <div>
                        <a href="https://app.powerbi.com/getdata/services/quickbooks-online" class="button">Try it Now</a>
                    </div>
                </div>
                <div>
                    <h3>Salesforce</h3>
                    <p>Get instant insights from your Salesforce account whether you're a Sales Manager or a Sales Rep.  Sport risks and opportunities faster with Power BI.</p>
                    <img src="/pictures/shared/partners/salesforce.png" alt="Salesforce">
                    <div>
                        <a href="https://app.powerbi.com/getdata/services/salesforce" class="button">Try it Now</a>
                    </div>
                </div>
                <div>
                    <h3>Dynamics CRM</h3>
                    <p>Your Accounts, Activities, Opportunities, Leads and more come to life when you use your data in Power BI.  Use the built-in dashboard or customize it to meet your unique needs.</p>
                    <img src="/pictures/shared/partners/microsoft-dynamics-crm.png" alt="Dynamics CRM">
                    <div>
                        <a href="https://app.powerbi.com/getdata/services/microsoft-dynamics-crm" class="button">Try it Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Carousel Vertical</h3>
            <code>.owl-controls-vertical</code>
            <code>.owl-carousel-vertical</code>
            <p>To get equal height slides, use <code>.sd-equalize</code></p>
        </div>
    </div>
</section>

<section class="section section-slate01 section-size0">
    <div class="row">
        <div class="column owl-controls-vertical">
            <a href="#" data-index="0" class="text-heading4">
                <span class="icon icon-size3"><img src="/pictures/shared/icons/business-user.png" alt=""></span>
                <span class="dot-label">Business User</span>
            </a>
            <a href="#" data-index="1" class="text-heading4">
                <span class="icon icon-size3"><img src="/pictures/shared/icons/business-analyst.png" alt=""></span>
                <span class="dot-label">Business Analyst</span>
            </a>
            <a href="#" data-index="2" class="text-heading4">
                <span class="icon icon-size3"><img src="/pictures/shared/icons/bi-professional.png" alt=""></span>
                <span class="dot-label">BI Professional</span>
            </a>
            <a href="#" data-index="3" class="text-heading4">
                <span class="icon icon-size3"><img src="/pictures/shared/icons/developer.png" alt=""></span>
                <span class="dot-label">Developer</span>
            </a>
        </div>
    </div>
</section>
<div class="owl-carousel-vertical" style="background-color: #fff">
    <section class="section sd-equalize">
        <div class="row">
            <div class="column medium-8 medium-centered">
                <h3>Import your own data</h3>
                <p><a href="/en-us/#connect-wrapper">Power BI connects to the SaaS sources</a> you use (such as Microsoft Dynamics, Google Analytics, Salesforce, and many more) and automatically creates dashboards and reports for you. You can also <a href="/en-us/documentation/powerbi-service-excel-data/">import Excel workbooks</a> from OneDrive or your computer.</p>
                <h3>Work with your organization</h3>
                <p>Don't see what you're looking for? Power BI has tools for the Business Analyst in your organization to bring in your organizational data and create content packs for your organization.</p>
                <h3>Find a partner</h3>
                <p>Power BI has a global network of certified Power BI implementers ready to help your analysts connect to your data. <a href="/en-us/partners/">Find a Power BI partner.</a></p>
            </div>
        </div>
    </section>
    <section class="section sd-equalize">
        <div class="row">
            <div class="column medium-8 medium-centered">
                <h3>Import, reshape, and model your data</h3>
                <p>With <a href="/en-us/desktop/">Power BI Desktop</a>, you can create your own reports based on <a href="/en-us/documentation/powerbi-desktop-connect-to-data/">data from a wide variety of sources</a>. Import data from on-premises sources such as SQL Server, SharePoint files and lists, Analysis Services, and other enterprise data solutions, or SaaS sources like Dynamics CRM, Salesforce, and Google Analytics. Reshape and model this data easily with the Power BI Desktop, to meet your analysis and reporting needs.</p>
                <h3>Create stunning reports and visualizations</h3>
                <p>Power BI Desktop provides a seamless and powerful experience for creating and customizing your Power BI reports.</p>
                <h3>Create content packs to share your insights</h3>
                <p>When you create dashboards and reports on data sources in Power BI, you can bundle them as <i>content packs</i> and <a href="/en-us/documentation/powerbi-service-organizational-content-packs-introduction/">publish them for your colleagues</a> as "out-of-the-box" solutions. Plus, you can schedule automatic data refreshes for the whole content pack.</p>
            </div>
        </div>
    </section>
    <section class="section sd-equalize">
        <div class="row">
            <div class="column medium-8 medium-centered">
                <h3>Connect your on-premises Analysis Services Server</h3>
                <p>With Power BI, you can connect to your on-premises Analysis Services Tabular models using the <a href="/en-us/documentation/powerbi-admin-analysis-services-connector-indepth/">Analysis Services Connector</a>. As the Analysis Services Server admin, you set up and maintain the Analysis Services Connector. Extending your on premise data investments to Power BI couldn't be easier with the Analysis Services Connector.</p>
                <h3>Empower your colleagues to create their own reports</h3>
                <p>With the Analysis Services Connectors your colleagues can create dashboards and reports that query an on-premises Analysis Services model in real time.</p>
            </div>
        </div>
    </section>
    <section class="section sd-equalize">
        <div class="row">
            <div class="column medium-8 medium-centered">
                <h3>Integrate your applications with Power BI</h3>
                <p>Power BI is the platform to use to add compelling data experiences to your solution, application, or service. With the Power BI REST API, you can build custom apps that leverage rich analytics in Power BI.</p>
                <h3>Create real-time dashboards</h3>
                <p>Use the Power BI REST API to push data directly from your application into a dataset in Power BI. Using Azure Stream Analytics integration in Power BI, you can analyze high-volume, streaming data with live operational dashboards. Your dashboards will be updated in real time when the data changes. No more waiting or having to press the Refresh button.</p>
                <p class="text-bold">Learn more at <a href="/en-us/developers/">Power BI Developer Center</a></p>
            </div>
        </div>
    </section>
</div>

@section foot {
    <script>
        $(function () {
            $(".owl-carousel-base").owlCarousel({
                autoplay: true,
                items: 1,
                loop: true,
                nav: true,
                navText: [
                    '<span class="icon">@SvgHelper.GetSvg("left")</span>',
                    '<span class="icon">@SvgHelper.GetSvg("right")</span>'
                ],
            });

            $(".owl-carousel-wide").owlCarousel({
                autoplay: false,
                items: 3,
                loop: true,
                nav: true,
                navText: [
                    '<span class="icon">@SvgHelper.GetSvg("left")</span>',
                    '<span class="icon">@SvgHelper.GetSvg("right")</span>'
                ],
            });

            $(".owl-carousel-narrow").owlCarousel({
                autoplay: false,
                items: 1,
                stagePadding: 80,
                loop: true,
                nav: true,
                navText: [
                    '<span class="icon">@SvgHelper.GetSvg("left-transparent")</span>',
                    '<span class="icon">@SvgHelper.GetSvg("right-transparent")</span>'
                ],
            });

            $(".owl-carousel-dots").owlCarousel({
                items: 1,
                loop: true,
                autoPlay: true,
                dots: true
            });

            var $carousel = $('.owl-carousel-vertical'),
                $dots = $('.owl-controls-vertical a');

            $carousel.owlCarousel({
                autoplay: false,
                items: 1,
                loop: true,
                animateOut: 'slideOutUp',
                animateIn: 'slideInUp'
            });

            $dots.on('click', function (e) {
                e.preventDefault();
                var $dot = $(this);

                $carousel.trigger('to.owl.carousel', $dot.data('index'));
                $dots.removeClass('active');
                $dot.addClass('active');
            });

            $dots.last().addClass('active');
            $carousel.trigger('to.owl.carousel', $dots.last().data('index'));
        });
    </script>
}