<section class="section">
    <div class="row">
        <div class="column">
            <h1>Hover GIF</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column small-2 small-offset-2">
            <img class="hover-gif"
                 src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img class="hover-gif"
                 src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img class="hover-gif"
                 src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img class="hover-gif"
                 src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 alt="" />
        </div>
    </div>
</section>

<section class="section hover-gif">
    <div class="row">
        <div class="column small-2 small-offset-2">
            <img src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
        <div class="column small-2">
            <img src="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard-static.gif")"
                 data-src-gif="@CdnHelper.GetCdnUrl("/pictures/shared/section/analytics-solutions/analytics-dashboard.gif")"
                 alt="" />
        </div>
    </div>
</section>
